<div data-role="page" id="editProfilePage">
        <div data-role="header" id="headerBar" data-theme="c" data-position="fixed">
            <h1><img class="headerIcon" src="/img/AppLogo.png"></h1>
        </div><!-- /header -->
    

        <div role="main" class="ui-content">
            <form action="/myProfilePage/{{profile.id}}?_method=PUT" method="post" action="demoform.asp">
            <input type="hidden" name="_method" value="PUT">
            
                <div class="ui-field-contain">
                     <label for="pic">Upload Image</label>
                    <input type="file" name="pic" accept="image/*">
                    
                    <label for="headline">Headline</label>
                    <input type="text" name="headline" id="headline" value="{{profile.headline}}" required>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" value="{{profile.name}}" required>
                    <label for="age">Age</label>
                    <input type="text" name="age" id="age" value="{{profile.age}}" required>
                    <label for="location">Location</label>
                    <input type="text" name="location" id="location" value="{{profile.location}}" required>
                    
                    <label for="AboutMe">About Me</label>
                    <textarea name="aboutMe" id="AboutMe" required>{{profile.aboutMe}}</textarea>
                    <label for="hobbiesInterests">Hobbies &Interests:</label>
                    <textarea name="hobbiesInterests" id="hobbiesInterests" required>{{profile.hobbiesInterests}}</textarea>

                    <fieldset data-role="controlgroup">
                        <legend>Gender</legend>
                        <label for="male">Male</label>
                        <input type="radio" name="gender" id="male" value="{{profile.gender}}" required="required">
                        <label for="female">Female</label>
                        <input type="radio" name="gender" id="female" value="{{profile.gender}}" required="required">
                    </fieldset>
                    
                    
              </div>
              <button type="submit" id="everyButton">Submit</button>
            </form>
            <div id="OneKid"><img src="/img/Kid6.png"></div>
            <div data-role="footer" data-position="fixed">
                <div data-role="navbar">
                    <ul>
                        <li><a href="/myProfilePage/myProfileIndex" id="everyButton"><img class="navbarIcon" src="/img/BackIcon.png"></a></li>
                    </ul>
                </div>
            </div>


        </div><!-- /content -->
        </div><!-- /page -->